.home {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 100%;
	height: 100vh;

	.home-bg {
		// position: absolute;
		// z-index: 5;
		width: 70%;
		height: 80vh;
		background-image: url(/public/assets/turbine-exp.jpg);
		background-position: center;
		background-size: cover;
		margin: auto;
		position: relative;
		

		h1 {
			position: absolute;
			font-size: 100px;
			color: white;
			line-height: 95px;
			top: -8%;
			left: -8%;
			margin: 0;
			font-family: "arial black";
		}
		h2 {
			position: absolute;
			color: white;
			font-size: 54px;
			line-height: 48px;
			bottom: -8%;
			right: -5.3%;
			margin: 0;
			font-family: "arial black";
		}
	}
}

	.about {
		// margin: 70px 0;
		background-color: #00005C;
		display: flex;
		flex-direction: row;
		padding: 100px 0;
		// height: 100vh;
		.about-left {
			width: 50%;
			// height: 90vh;
			display: flex;
			align-items: center;
			justify-content: center;

			.about-bg {
				width: 80%;
				height: 70vh;
				background-image: url(/public/assets/andrew-exp.jpg);
				background-position: center;
				background-size: cover;
				// margin: 100px auto;
				position: relative;

				h2 {
					color: white;
					position: absolute;
					top: -10%;
					left: -2%;
					margin: 0;
					font-size: 6rem;

				}
			}
		}
		.about-right {
			width: 50%;
			margin: 100px auto;
			display: flex;
			justify-content: center;
			flex-direction: column;

			align-items: center;
			p {
				width: 80%;
				color: white;
				font-size: 1.1rem;
				line-height: 1.8rem;
				font-family: "arial";
				// box-shadow: 12px 12px 1px #32b67a;
				// background-color: #32b67a;
			}
		}
		
	}

	.skills {
		display: flex;
		width: 100%;
		color: white;
		// background-color: #00005C;
		flex-direction: column;
		margin: 100px auto;

		.skills-header {
			width: 90%;
			margin: 0 auto 40px auto;
			height: 40vh;
			background-image: url(/public/assets/suburbia-crop.jpg);
			background-position: center;
			background-size: cover;
			position: relative;

			h2 {
				color: white;
					position: absolute;
					top: -15%;
					left: -1%;
					margin: 0;
					font-size: 6rem;
			}


		}

		.skills-container {
			width: 90%;
			margin: auto;
			display: flex;

			.skillset {
				width: 50%;
				color: #00005C;

				h3 {
					width: 90%;
					border-bottom: 2px solid #00005C;
					font-size: 1.8rem;
					margin: 0;
					// margin-right: 10%;
					// width: auto;
				}
				ul {
					margin: 20px 0;
					padding: 0;

					li {
						font-size: 1.2rem;
						margin: 1rem 0;
					}
					list-style: none;
				}
			}
		}
	}


	// .home-wrapper {
	// 	margin-top: 130px;
	// 	display: flex;
	// 	flex-direction: column;
	// 	width: 100%;

	// 	.home-text {
	// 		width: 100%;
	// 		// margin: 0 auto;
	// 		// display: flex;
	// 		// flex-direction: column;
	// 		z-index: 10;
	// 		// align-items: center;

	// 		img {
	// 			width: 90%;
	// 			position: relative;
	// 			margin: 0 auto;
	// 		}

	// 		h1 {
	// 			position: absolute;
	// 			width: 100%;
	// 			font-size: 100px;
	// 			color: white;
	// 			line-height: 95px;
	// 			top: 24px;
	// 			left: 151px;
	// 			margin: 0;
	// 		}
	// 		h2 {
				
	// 		}

	// 		p {
	// 			font-size: 2.1rem;
	// 			line-height: 3rem;
	// 			padding: 0;
	// 			margin: 20px 0;
	// 		}

	// 		a {
	// 			text-decoration: none;
	// 			color: #00005C;
	// 			margin: 0 auto;
	// 			outline: 0;
	// 		}
			
	// 		i {
	// 			font-size: 3rem;
	// 			margin: 20px auto;
	// 		}
	// 	}
	// }
