
	.about {
		background-color: #00005C;

		.about-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: 6.8rem auto;

			.about-left {
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				.about-left_container {
					width: 80%;
					margin: 0 auto;
					position: relative;

					img {
						width: 100%;
						margin: 0 auto;
					}

					h2 {
						color: white;
						position: absolute;
						top: -2.2rem;
						left: -1.2rem;
						margin: 0;
						font-size: 6rem;
					}
				}
			}
			.about-right {
				width: 50%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;

				.about-right_container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 80%;

					p {
						width: 95%;
						color: white;
						font-size: 1.1rem;
						line-height: 1.8rem;
                        font-family: "arial";
                        
                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: 700;
                            transition: all 0.2s ease;
                            border-bottom: 2px solid transparent;


                            &:hover {
                                border-bottom: 2px solid white;
                            }
                        }
					}
					.view-resume {
						display: flex;
						flex-direction: row;
						color: white;
						text-decoration: none;
						width: fit-content;
						margin: 1.2rem 0;
						width: auto;

						a {
							display: flex;
							text-decoration: none;
							color: white;
							border-bottom: 4px solid #00005C;
							transition: all 0.2s ease;

							&:hover, &:active, &:focus {
								border-bottom: 4px solid white;
						}
							h4 {
								margin: 0;
								font-size: 1.4rem;
							}
							i {
								font-size: 1.2rem;
								padding: 0.3rem 0 0.3rem 0.8rem;
							}
						}
					}
				}
			}
		}
	}




