@media (min-width: 1286px) {


	html {
		font-size: 24px;
	}
	
	.home .home-wrapper {
		margin-top: 180px;
	}

	.work .container .projects {
		margin: 70px auto;
	}

}



// /* Portrait tablet and small desktops */
@media (max-width: 940px) {
	html {
		font-size: 15px;
	}
	
	.home .home-wrapper {
		margin-top: 120px;
	}

	.work .container .projects {
		margin: 40px auto;
	}

}




// /* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	html {
		font-size: 15px;
	}

	.about {
		flex-direction: column;
	}

	.skills {
		.skills-header {
			height: 25vh;
		}
	}

	.work .container .projects {
		flex-direction: column;
		align-items: center;

		.project-left {
			width: 90%;
		}

		.project-right {
			width: 90%;
			margin-top: 50px;
		}
	}

	.about {
		// margin: 70px 0;
		background-color: #00005C;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 100px 0;

	.about-left {
			width: 90%;
			// height: 90vh;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			.about-bg {
				width: 100%;
			}
	}
	.about-right {
		width: 90%;

		p {
			width: 100%;
		}
	}
}

}

// /* Landscape phones and down */
@media (max-width: 570px) {
		html {
		font-size: 14px;
	}
	
	.home .home-wrapper {
		margin-top: 80px;
	}

	header .header-wrapper {
		h1 {
			width: auto;
			font-size: 3.8rem;
		}

		ul {
			display: none;
		}

		.hamburger {
			display: inline-block;
			font-size: 4rem;
			margin-top: 1px;
		}
	}



	.work .container .projects {
		margin: 35px auto;
		align-items: center;
	}

	.contact .container {

		h2 {
			margin: 30px 0;
		}

		.contacts {
			flex-direction: column;
			margin: 10px auto;
			width: auto;

			a {
				font-size: 3.5rem;
				padding: 30px;
				margin: 10px auto;
				width: auto;
			}
		}
		
	}

}

