@media (min-width: 1286px) {


	html {
		font-size: 20px;
	}
	
	.home .home-wrapper {
		margin-top: 180px;
	}

	.work .container .projects {
		margin: 70px auto;
	}

}



// /* Portrait tablet and small desktops */
@media (max-width: 1285px) {
	html {
		font-size: 18px;
	}
	
	.home .home-wrapper {
		margin-top: 120px;
	}

	.work .container .projects {
		// margin: 40px auto;
	}

}




// /* Landscape phone to portrait tablet */
@media (max-width: 940px) {

	html {
		font-size: 16px;
	}

	#flyoutMenu {
		width: 33.33vw;
	}


	.home {
		.home-bg {
			width: 80%;

			h1 {
				font-size: 5.8rem;
				line-height: 5.2rem;
				top: -2.4rem;
				left: -2.2rem;
			}
			h2 {
				font-size: 2.8rem;
				line-height: 2.8rem;
				bottom: -0.4rem;
				right: -2.3rem;
			}
			img {

			}
		}
	}

		.about {

		.about-container {
			background-color: #00005C;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 4rem auto;

			.about-left {
				width: 90%;
				display: flex;
				align-items: center;
				justify-content: center;

				.about-left_container {
					width: 60%;
				}
			}
			.about-right {
				width: 80%;
				margin: 2rem auto 0 auto;

				.about-right_container {
					width: 100%;
					padding-left: 2rem;
				}
			}
		}
	}



	

	.skills {
		.skills-header {
			
		}
		.skills-container {
			flex-direction: column;
			width: 80%;

			.skillset {
				width: 100%;
				margin: 0.8rem auto;
			}
		}
	}

	.work .container .projects {
		flex-direction: column;
		align-items: center;
		width: 100%;

		.project-left {
			width: 100%;
		}

		.project-right {
			width: 100%;
			margin-top: 50px;
		}
	}

	.contact {
		.container {
			width: 80%;
		}
	}

}

// /* Landscape phones and down */
@media (max-width: 570px) {
		html {
		font-size: 14px;
	}

	#flyoutMenu {
		width: 100vw;
	}

	.home {
		.home-container {
			width: 80%;

			h1 {
				font-size: 3.8rem;
				line-height: 3.2rem;
				top: -1.4rem;
				left: -1.2rem;
			}
			h2 {
				font-size: 1.8rem;
				line-height: 1.8rem;
				bottom: -0.2rem;
				right: -1.3rem;
			}
			img {

			}
		}
	}

	.about .about-container .about-left .about-left_container {
		width: 80%;

		h2 {
			font-size: 5rem;
		}
	}

	
	.home .home-wrapper {
		margin-top: 80px;
	}

	.skills .skills-header {
		h2 {
			font-size: 5rem;
		}
	}

	header .header-wrapper {
		h1 {
			width: auto;
			font-size: 3.8rem;
		}

		ul {
			display: none;
		}

		.hamburger {
			display: inline-block;
			font-size: 4rem;
			margin-top: 1px;
		}
	}



	.work {
		.work-header {
			h2 {
				font-size: 5rem;
			}
		}
		.container .projects {
			margin: 2rem auto;
			align-items: center;

			.project-left {
				img {
					box-shadow: 10px 10px 1px #32b67a;
				}
			}
		}
	}


	.contact {
		.contact-header {

			margin: 2.2rem auto 0 auto;
			h2 {
				font-size: 5rem;
			}
		}

		.container {

			margin: 1rem auto;

			h2 {
				margin: 30px 0;
			}

			.contacts {
				flex-direction: column;
				margin: 10px auto;
				width: auto;

				a {
					font-size: 2.5rem;
					margin: 2rem 0;
				}
			}
		}
	}
}

