.work {
	background-color: #00005C;
	color: #32b67a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

	.work-header {
		position: relative;
		width: 90%;
		margin: 4.6rem auto 0 auto;

		img {
			width: 100%;
			margin: auto;
		}

		h2 {
			color: white;
			position: absolute;
			top: -2.2rem;
			left: -1.2rem;
			margin: 0;
			font-size: 6rem;
		}
	}

	#lock-up {
		.project-left {
			img {
				width: 45%;
				margin: 0 auto;
			}
		}
	}

	.container {
		width: 90%;
		margin: 2.8rem auto 4.2rem auto;
		display: flex;
		flex-direction: flex-row;
		flex-wrap: wrap;

		.projects {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: space-between;
			justify-content: space-between;
			margin: 3.2rem auto;
			opacity: 0;

			.project-left {
				width: 46%;

				img {
					display: block;
					box-shadow: 18px 18px 1px #32b67a;
				}
			}

			.project-right {
				width: 48%
			}

			img {
				width: 100%;
			}

			a {
				text-decoration: none;
				color: #32b67a;
			}

			h3 {
				font-size: 2rem;
				margin: 0;
				border-bottom: 4px solid;
				width: 100%;
				margin-bottom: 3%;
			}

			p {
				font-size: 1.1rem;
				line-height: 1.8rem;
				margin: 0;
			}
			.view-projects {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin: 0;

				.view {
					display: flex;
					border-bottom: 4px solid #00005C;
					margin-right: 60px;
					margin-top: 1rem;
					width: fit-content;
					transition: all 0.2s ease;

					&:hover, &:active, &:focus {
						border-bottom: 4px solid #32b67a;
					}

					h4 {
						margin: 0;
						font-size: 1.4rem;
					}
					i {
						font-size: 1.2rem;
						padding: 0.3rem 0 0.3rem 0.8rem;
					}
				}
			}
		}
	}
}