article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: "Arial";
  color: #00005C; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #32b67a;
  margin: 0; }

header .header-wrapper {
  display: flex;
  width: 90%;
  padding: 38px 0;
  justify-content: space-between;
  margin: 0 auto; }
  header .header-wrapper h1 {
    font-size: 3.2rem;
    margin: 0;
    width: 50%;
    padding: 2px 0; }
  header .header-wrapper ul {
    width: 50%;
    display: flex;
    justify-content: space-between; }
    header .header-wrapper ul li {
      list-style: none;
      color: #32b67a;
      font-size: 1.2rem;
      padding-top: 0.6rem; }
  header .header-wrapper .hamburger {
    display: none;
    cursor: pointer; }
  header .header-wrapper a {
    text-decoration: none;
    color: #32b67a;
    transition: all 0.8s ease;
    border-bottom: 3px solid transparent;
    padding: 2px 0; }
    header .header-wrapper a:hover, header .header-wrapper a:active, header .header-wrapper a:focus {
      border-bottom: 3px solid #32b67a;
      outline: 0; }

.nav-up {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease; }

.mobile-nav-down {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00005C;
  font-size: 6rem;
  line-height: 10rem;
  z-index: 30;
  transition: all 0.5s ease; }
  .mobile-nav-down i {
    color: #32b67a;
    float: right;
    padding: 20px;
    cursor: pointer; }

.mobile-nav {
  transition: all 0.5s ease; }

.mobile-nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
  list-style: none;
  text-decoration: none;
  padding: 0;
  position: fixed;
  transition: all ease 0.2s; }

.mobile-nav ul li {
  padding: 0; }

.mobile-nav ul a {
  margin: 10px auto;
  text-decoration: none;
  color: #32b67a;
  font-weight: 700;
  padding: 0;
  border-bottom: 8px solid transparent; }
  .mobile-nav ul a:hover, .mobile-nav ul a:active, .mobile-nav ul a:focus {
    border-bottom: 8px solid #32b67a; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh; }
  .home .home-bg {
    width: 70%;
    height: 80vh;
    background-image: url(/public/assets/turbine-exp.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative; }
    .home .home-bg h1 {
      position: absolute;
      font-size: 100px;
      color: white;
      line-height: 95px;
      top: -8%;
      left: -8%;
      margin: 0;
      font-family: "arial black"; }
    .home .home-bg h2 {
      position: absolute;
      color: white;
      font-size: 54px;
      line-height: 48px;
      bottom: -8%;
      right: -5.3%;
      margin: 0;
      font-family: "arial black"; }

.about {
  background-color: #00005C;
  display: flex;
  flex-direction: row; }
  .about .about-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .about .about-left .about-bg {
      width: 80%;
      margin: 0 auto;
      position: relative;
      margin: 100px auto; }
      .about .about-left .about-bg img {
        width: 100%;
        margin: 0 auto; }
      .about .about-left .about-bg h2 {
        color: white;
        position: absolute;
        top: -2.2rem;
        left: -1.2rem;
        margin: 0;
        font-size: 6rem; }
  .about .about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .about .about-right .about-right_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%; }
      .about .about-right .about-right_container p {
        width: 95%;
        color: white;
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-family: "arial"; }
      .about .about-right .about-right_container .view-resume {
        display: flex;
        flex-direction: row;
        color: white;
        text-decoration: none;
        border-bottom: 4px solid #00005C;
        width: fit-content;
        margin: 1.2rem 0; }
        .about .about-right .about-right_container .view-resume:hover, .about .about-right .about-right_container .view-resume:active, .about .about-right .about-right_container .view-resume:focus {
          border-bottom: 4px solid white; }
        .about .about-right .about-right_container .view-resume h4 {
          margin: 0;
          font-size: 1.6rem; }
        .about .about-right .about-right_container .view-resume i {
          font-size: 1.4rem;
          padding: 0.3rem 0 0.3rem 0.8rem; }

.skills {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  margin: 80px auto 0 auto; }
  .skills .skills-header {
    position: relative;
    width: 90%;
    margin: 0 auto; }
    .skills .skills-header img {
      width: 100%;
      margin: auto; }
    .skills .skills-header h2 {
      color: white;
      position: absolute;
      top: -2.2rem;
      left: -1.2rem;
      margin: 0;
      font-size: 6rem; }
  .skills .skills-container {
    width: 90%;
    margin: 40px auto;
    display: flex; }
    .skills .skills-container .skillset {
      width: 50%;
      color: #00005C; }
      .skills .skills-container .skillset h3 {
        width: 90%;
        border-bottom: 2px solid #00005C;
        font-size: 1.8rem;
        margin: 0; }
      .skills .skills-container .skillset ul {
        margin: 20px 0;
        padding: 0;
        list-style: none; }
        .skills .skills-container .skillset ul li {
          font-size: 1.2rem;
          margin: 1rem 0; }

.work {
  background-color: #00005C;
  color: #32b67a; }
  .work .work-header {
    position: relative;
    width: 90%;
    margin: 80px auto 0 auto; }
    .work .work-header img {
      width: 100%;
      margin: auto; }
    .work .work-header h2 {
      color: white;
      position: absolute;
      top: -2.2rem;
      left: -1.2rem;
      margin: 0;
      font-size: 6rem; }
  .work .container {
    width: 90%;
    margin: 30px auto 80px auto;
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap; }
    .work .container .projects {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
      margin: 60px auto;
      opacity: 0; }
      .work .container .projects .project-left {
        width: 46%; }
        .work .container .projects .project-left img {
          display: block;
          box-shadow: 18px 18px 1px #32b67a; }
      .work .container .projects .project-right {
        width: 48%; }
      .work .container .projects img {
        width: 100%; }
      .work .container .projects a {
        text-decoration: none;
        color: #32b67a; }
      .work .container .projects h3 {
        font-size: 2rem;
        margin: 0;
        border-bottom: 4px solid;
        width: 100%;
        margin-bottom: 3%; }
      .work .container .projects p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin: 0; }
      .work .container .projects .view-projects {
        display: flex;
        flex-direction: row;
        margin: 1.6rem 0; }
        .work .container .projects .view-projects .view {
          display: flex;
          border-bottom: 4px solid #00005C;
          margin-right: 60px;
          width: fit-content;
          transition: all 0.2s ease; }
          .work .container .projects .view-projects .view:hover, .work .container .projects .view-projects .view:active, .work .container .projects .view-projects .view:focus {
            border-bottom: 4px solid #32b67a; }
          .work .container .projects .view-projects .view h4 {
            margin: 0;
            font-size: 1.6rem; }
          .work .container .projects .view-projects .view i {
            font-size: 1.4rem;
            padding: 0.3rem 0 0.3rem 0.8rem; }

.contact .contact-header {
  position: relative;
  width: 90%;
  margin: 80px auto 0 auto; }
  .contact .contact-header img {
    width: 100%;
    margin: auto; }
  .contact .contact-header h2 {
    color: white;
    position: absolute;
    top: -2.2rem;
    left: -1.2rem;
    margin: 0;
    font-size: 6rem; }

.contact .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto; }
  .contact .container .contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px; }
    .contact .container .contacts a {
      text-decoration: none;
      font-size: 1.8rem;
      color: #00005C;
      border-bottom: 4px solid #32b67a;
      transition: all 0.2s ease; }
      .contact .container .contacts a:hover, .contact .container .contacts a:active, .contact .container .contacts a:focus {
        border-bottom: 4px solid #00005C; }

@media (min-width: 1286px) {
  html {
    font-size: 24px; }
  .home .home-wrapper {
    margin-top: 180px; }
  .work .container .projects {
    margin: 70px auto; } }

@media (max-width: 940px) {
  html {
    font-size: 15px; }
  .home .home-wrapper {
    margin-top: 120px; }
  .work .container .projects {
    margin: 40px auto; } }

@media (max-width: 768px) {
  html {
    font-size: 15px; }
  .about {
    flex-direction: column; }
  .skills .skills-header {
    height: 25vh; }
  .skills .skills-container {
    flex-direction: column;
    width: 80%; }
    .skills .skills-container .skillset {
      width: 100%;
      margin: 10px auto; }
  .work .container .projects {
    flex-direction: column;
    align-items: center; }
    .work .container .projects .project-left {
      width: 90%; }
    .work .container .projects .project-right {
      width: 90%;
      margin-top: 50px; }
  .about {
    background-color: #00005C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0; }
    .about .about-left {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
      .about .about-left .about-bg {
        width: 100%; }
    .about .about-right {
      width: 90%; }
      .about .about-right .about-right_container {
        width: 100%; } }

@media (max-width: 570px) {
  html {
    font-size: 14px; }
  .home .home-wrapper {
    margin-top: 80px; }
  header .header-wrapper h1 {
    width: auto;
    font-size: 3.8rem; }
  header .header-wrapper ul {
    display: none; }
  header .header-wrapper .hamburger {
    display: inline-block;
    font-size: 4rem;
    margin-top: 1px; }
  .work .container .projects {
    margin: 35px auto;
    align-items: center; }
  .contact .container h2 {
    margin: 30px 0; }
  .contact .container .contacts {
    flex-direction: column;
    margin: 10px auto;
    width: auto; }
    .contact .container .contacts a {
      font-size: 3.5rem;
      padding: 30px;
      margin: 10px auto;
      width: auto; } }
