article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: "Arial";
  color: #00005C; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #32b67a;
  margin: 0; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vh; }
  .home .home-container {
    width: 65%;
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative; }
    .home .home-container img {
      width: 100%; }
    .home .home-container h1 {
      position: absolute;
      font-size: 5.8rem;
      color: white;
      line-height: 5rem;
      top: -2rem;
      left: -3.2rem;
      margin: 0;
      font-family: "Arial Black", "Arial", "Helvetica", sans-serif; }
    .home .home-container h2 {
      position: absolute;
      color: white;
      font-size: 2.8rem;
      line-height: 2.8rem;
      bottom: -0.4rem;
      right: -3.3rem;
      margin: 0;
      font-family: "Arial Black", "Arial", "Helvetica", sans-serif; }

#hamburger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
  color: white; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 2000; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

#flyoutMenu {
  width: 25vw;
  height: 100vh;
  background-color: #00005C;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(200vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }
  #flyoutMenu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh; }
    #flyoutMenu ul li {
      width: 100%;
      margin: 0 auto; }
      #flyoutMenu ul li a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        line-height: 2rem;
        border-bottom: 4px solid #00005C;
        transition: all 0.2s ease; }
        #flyoutMenu ul li a:hover {
          border-bottom: 4px solid white; }

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0); }

.about {
  background-color: #00005C; }
  .about .about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 6.8rem auto; }
    .about .about-container .about-left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .about .about-container .about-left .about-left_container {
        width: 80%;
        margin: 0 auto;
        position: relative; }
        .about .about-container .about-left .about-left_container img {
          width: 100%;
          margin: 0 auto; }
        .about .about-container .about-left .about-left_container h2 {
          color: white;
          position: absolute;
          top: -2.2rem;
          left: -1.2rem;
          margin: 0;
          font-size: 6rem; }
    .about .about-container .about-right {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .about .about-container .about-right .about-right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%; }
        .about .about-container .about-right .about-right_container p {
          width: 95%;
          color: white;
          font-size: 1.1rem;
          line-height: 1.8rem;
          font-family: "arial"; }
        .about .about-container .about-right .about-right_container .view-resume {
          display: flex;
          flex-direction: row;
          color: white;
          text-decoration: none;
          width: fit-content;
          margin: 1.2rem 0;
          width: auto; }
          .about .about-container .about-right .about-right_container .view-resume a {
            display: flex;
            text-decoration: none;
            color: white;
            border-bottom: 4px solid #00005C;
            transition: all 0.2s ease; }
            .about .about-container .about-right .about-right_container .view-resume a:hover, .about .about-container .about-right .about-right_container .view-resume a:active, .about .about-container .about-right .about-right_container .view-resume a:focus {
              border-bottom: 4px solid white; }
            .about .about-container .about-right .about-right_container .view-resume a h4 {
              margin: 0;
              font-size: 1.4rem; }
            .about .about-container .about-right .about-right_container .view-resume a i {
              font-size: 1.2rem;
              padding: 0.3rem 0 0.3rem 0.8rem; }

.skills {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column; }
  .skills .skills-header {
    position: relative;
    width: 90%;
    margin: 4.6rem auto 0 auto; }
    .skills .skills-header img {
      width: 100%;
      margin: auto; }
    .skills .skills-header h2 {
      color: white;
      position: absolute;
      top: -2.2rem;
      left: -1.2rem;
      margin: 0;
      font-size: 6rem; }
  .skills .skills-container {
    width: 90%;
    margin: 3.2rem auto;
    display: flex; }
    .skills .skills-container .skillset {
      width: 50%;
      color: #00005C; }
      .skills .skills-container .skillset h3 {
        width: 90%;
        border-bottom: 2px solid #00005C;
        font-size: 1.8rem;
        margin: 0; }
      .skills .skills-container .skillset ul {
        margin: 20px 0;
        padding: 0;
        list-style: none; }
        .skills .skills-container .skillset ul li {
          font-size: 1.2rem;
          margin: 1rem 0; }

.work {
  background-color: #00005C;
  color: #32b67a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .work .work-header {
    position: relative;
    width: 90%;
    margin: 4.6rem auto 0 auto; }
    .work .work-header img {
      width: 100%;
      margin: auto; }
    .work .work-header h2 {
      color: white;
      position: absolute;
      top: -2.2rem;
      left: -1.2rem;
      margin: 0;
      font-size: 6rem; }
  .work .container {
    width: 90%;
    margin: 2.8rem auto 4.2rem auto;
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap; }
    .work .container .projects {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
      margin: 3.2rem auto;
      opacity: 0; }
      .work .container .projects .project-left {
        width: 46%; }
        .work .container .projects .project-left img {
          display: block;
          box-shadow: 18px 18px 1px #32b67a; }
      .work .container .projects .project-right {
        width: 48%; }
      .work .container .projects img {
        width: 100%; }
      .work .container .projects a {
        text-decoration: none;
        color: #32b67a; }
      .work .container .projects h3 {
        font-size: 2rem;
        margin: 0;
        border-bottom: 4px solid;
        width: 100%;
        margin-bottom: 3%; }
      .work .container .projects p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin: 0; }
      .work .container .projects .view-projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0; }
        .work .container .projects .view-projects .view {
          display: flex;
          border-bottom: 4px solid #00005C;
          margin-right: 60px;
          margin-top: 1rem;
          width: fit-content;
          transition: all 0.2s ease; }
          .work .container .projects .view-projects .view:hover, .work .container .projects .view-projects .view:active, .work .container .projects .view-projects .view:focus {
            border-bottom: 4px solid #32b67a; }
          .work .container .projects .view-projects .view h4 {
            margin: 0;
            font-size: 1.4rem; }
          .work .container .projects .view-projects .view i {
            font-size: 1.2rem;
            padding: 0.3rem 0 0.3rem 0.8rem; }

.contact .contact-header {
  position: relative;
  width: 90%;
  margin: 80px auto 0 auto; }
  .contact .contact-header img {
    width: 100%;
    margin: auto; }
  .contact .contact-header h2 {
    color: white;
    position: absolute;
    top: -2.2rem;
    left: -1.2rem;
    margin: 0;
    font-size: 6rem; }

.contact .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto; }
  .contact .container .contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px; }
    .contact .container .contacts a {
      text-decoration: none;
      font-size: 1.8rem;
      color: #00005C;
      border-bottom: 4px solid #32b67a;
      transition: all 0.2s ease;
      width: fit-content; }
      .contact .container .contacts a:hover, .contact .container .contacts a:active, .contact .container .contacts a:focus {
        border-bottom: 4px solid #00005C; }

@media (min-width: 1286px) {
  html {
    font-size: 20px; }
  .home .home-wrapper {
    margin-top: 180px; }
  .work .container .projects {
    margin: 70px auto; } }

@media (max-width: 1285px) {
  html {
    font-size: 18px; }
  .home .home-wrapper {
    margin-top: 120px; } }

@media (max-width: 940px) {
  html {
    font-size: 16px; }
  #flyoutMenu {
    width: 33.33vw; }
  .home .home-bg {
    width: 80%; }
    .home .home-bg h1 {
      font-size: 5.8rem;
      line-height: 5.2rem;
      top: -2.4rem;
      left: -2.2rem; }
    .home .home-bg h2 {
      font-size: 2.8rem;
      line-height: 2.8rem;
      bottom: -0.4rem;
      right: -2.3rem; }
  .about .about-container {
    background-color: #00005C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto; }
    .about .about-container .about-left {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .about .about-container .about-left .about-left_container {
        width: 60%; }
    .about .about-container .about-right {
      width: 80%;
      margin: 2rem auto 0 auto; }
      .about .about-container .about-right .about-right_container {
        width: 100%;
        padding-left: 2rem; }
  .skills .skills-container {
    flex-direction: column;
    width: 80%; }
    .skills .skills-container .skillset {
      width: 100%;
      margin: 0.8rem auto; }
  .work .container .projects {
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .work .container .projects .project-left {
      width: 100%; }
    .work .container .projects .project-right {
      width: 100%;
      margin-top: 50px; }
  .contact .container {
    width: 80%; } }

@media (max-width: 570px) {
  html {
    font-size: 14px; }
  #flyoutMenu {
    width: 100vw; }
  .home .home-container {
    width: 80%; }
    .home .home-container h1 {
      font-size: 3.8rem;
      line-height: 3.2rem;
      top: -1.4rem;
      left: -1.2rem; }
    .home .home-container h2 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      bottom: -0.2rem;
      right: -1.3rem; }
  .about .about-container .about-left .about-left_container {
    width: 80%; }
    .about .about-container .about-left .about-left_container h2 {
      font-size: 5rem; }
  .home .home-wrapper {
    margin-top: 80px; }
  .skills .skills-header h2 {
    font-size: 5rem; }
  header .header-wrapper h1 {
    width: auto;
    font-size: 3.8rem; }
  header .header-wrapper ul {
    display: none; }
  header .header-wrapper .hamburger {
    display: inline-block;
    font-size: 4rem;
    margin-top: 1px; }
  .work .work-header h2 {
    font-size: 5rem; }
  .work .container .projects {
    margin: 2rem auto;
    align-items: center; }
    .work .container .projects .project-left img {
      box-shadow: 10px 10px 1px #32b67a; }
  .contact .contact-header {
    margin: 2.2rem auto 0 auto; }
    .contact .contact-header h2 {
      font-size: 5rem; }
  .contact .container {
    margin: 1rem auto; }
    .contact .container h2 {
      margin: 30px 0; }
    .contact .container .contacts {
      flex-direction: column;
      margin: 10px auto;
      width: auto; }
      .contact .container .contacts a {
        font-size: 2.5rem;
        margin: 2rem 0; } }
